<!-- {% extends 'adminApp/body.html' %}
{% load static %}

{% block body %}
<br><br>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8 mx-auto" style="background-color:rgb(18, 18, 61)">
        <div class="col-md-8 mx-auto my-4">
          <h4 align="center" style="color: white;">Add Topics</h4>
        </div>
        <form action="{% url 'addiframe' %}" method="post" role="form" class="" data-aos="fade-up" >
            {% csrf_token %}
            <div class="col-md-8 form-group mx-auto mt-5 text-white">
            Category:<input type="text" name="category" class="form-control" id="name" placeholder="Enter topic" value="" required >
            </div>
            <div class="col-md-8 form-group mx-auto mt-5 text-white">
            Sub Topics :<input type="text" name="subtopic" class="form-control" id="subtopic" placeholder="Enter topic" value="" required >
            </div>
            <div class="col-md-8 form-group mx-auto mt-5 text-white">
            Iframe:<input type="text" name="iframe" class="form-control" id="iframe" placeholder="Enter topic" value="" required >
            </div>
            <br>
            <div class="col-md-2 form-group mx-auto ">
                <a class="" href=""><input type="submit" value="Add" 
                  class=" btn btn-warning btn-outline-dark form-control">
                </a>
                <i class="bi bi-list mobile-nav-toggle"></i>
                <br><br>
            </div>
        </form>
      <br><br>
    </div>
  </div>
</div>
<br><br>
{% endblock %} -->
