{% extends 'adminApp/body.html' %}
{% load static %}

{% block body %}
<br><br>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8 mx-auto" style="background-color:rgb(18, 18, 61)">
        <div class="col-md-8 mx-auto my-4">
          <h4 align="center" style="color: white;">Edit Topics</h4>
        </div>
        <form action="{% url 'edit-topic' data.id %}" method="post" role="form" class="" data-aos="fade-up" >
            {% csrf_token %}
            <div class="col-md-8 form-group mx-auto mt-5 text-white">
              Topic Name:<input type="text" name="topic_name" class="form-control" id="name" placeholder="Enter topic" value="{{data.topic_name}}" required >
            </div>
            <br><br>
            <div class="col-md-2 form-group mx-auto ">
                <a class="" href=""><input type="submit" value="Edit" 
                  class=" btn btn-warning btn-outline-dark form-control">
                </a>
                <i class="bi bi-list mobile-nav-toggle"></i>
                <br><br>
            </div>
        </form>
      <br><br>
    </div>
  </div>
</div>
<br><br>
{% endblock %}
