{% extends 'adminApp/body.html'%}
{% load static %}
{% block body %}
<br><br>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-8 mx-auto" style="background-color:#213b52">
        <div class="col-md-8 mx-auto my-4">
          <h4 align="center" style="color: white;">Edit Content</h4>
        </div>
        <form action="" method="post" role="post" class="" data-aos="fade-up">
            {% csrf_token %}
            <div class="col-lg-4 form-group mx-auto mt-5  text-white">
                Sub Topics <br>
                <select name="sub_Topics" id="" required>
                    <option disabled selected>Select subtopics</option>
                    {% for i in sub %}
                    <option value="{{i.id}}"{% if data.subtopic_id.id == i.id %} selected {% endif %}>{{i.topic_id.topic_name}} - {{i.subtopic_name}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-8 form-group mx-auto mt-5 text-white">
                Content :<input type="text" name="contents" class="form-control" id="subtopic" placeholder="Enter content" value="{{data.data}}" required >
                </div>
                
                <br><br>
                <center>
                  <div class="btn-group btn-group-sm" >
                    <a class="" href=""><input type="submit" value="Edit" 
                    class=" btn btn-warning btn-outline-dark form-control">
                    </a> 
                    &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="" href="{% url 'viewContent'%}"><button type="button"
                    class=" btn btn-lg-4 btn-warning btn-outline-success" >All Content</button></a>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                  </div> 
                </center>
        </form>
      <br><br>
    </div>
  </div>
</div>
<br><br>
{% endblock %}