{% extends 'adminApp/body.html' %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-4 mb-5">
            <div class="mx-4">
                <div class="mx-1 my-2" >
                    <div class="card text-white bg-dark" style="max-width: 18rem;">
                        <div class="card-header mx-auto mt-3 mb-0 p-0"><h3>Topics</h3></div>
                        <hr>
                        <div class="card-body">
                          <h5 class="card-title fs-3 m-0 text-center" style="height:45px;">{{ topic}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <div class="mx-4">
                <div class="mx-1 my-2" >
                    <div class="card text-white bg-dark" style="max-width: 18rem;">
                        <div class="card-header mx-auto mt-3 mb-0 p-0"><h3>Sub Topics</h3></div>
                        <hr>
                        <div class="card-body">
                          <h5 class="card-title fs-3 m-0 text-center" style="height:45px;">{{ subtopics}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 mb-5">
            <div class="mx-4">
                <div class="mx-1 my-2" >
                    <div class="card text-white bg-dark" style="max-width: 18rem;">
                        <div class="card-header mx-auto mt-3 mb-0 p-0"><h3>Contents</h3></div>
                        <hr>
                        <div class="card-body">
                          <h5 class="card-title fs-3 m-0 text-center" style="height:45px;">{{ contents}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
       
        
    {% endif %}
{% endblock %}
subtopics
contents