{% extends 'adminApp/body.html' %}
{% load static %}
{% block body %}
<br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto" style="background-color:#213b52"> 
                <div class="col-md-8 mx-auto my-4">              
                    <h4 align="center" style="color: white;">Sub Topics</h4>
                </div>
                <form action="{% url 'addsubtopics' %}" method="post" role="post" class="" data-aos="fade-up">
                    {% csrf_token %}
                    <div class="col-lg-4 form-group mx-auto mt-5  text-white">
                        Topics <br>
                        <select name="subtopics" id="" required>
                            <option disabled selected>Select topics</option>
                            {% for i in data %}
                            <option value="{{i.id}}">{{i.topic_name}}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-8 form-group mx-auto mt-5 text-white">
                        Sub Topics :<input type="text" name="subtopic_name" class="form-control" id="subtopic" placeholder="Enter sub-topic" value="" required >
                        </div>
                        <div class="col-md-8 form-group mx-auto mt-5 text-white ">
                        Iframe:<input type="text" name="iframe" class="form-control" id="iframe" placeholder="Enter code" value="" required >
                        </div>
                        <br><br>
                        <center>
                        <div class="btn-group btn-group-sm" >
                            <a class="" href=""><input type="submit" value="Add" 
                            class=" btn btn-warning btn-outline-dark form-control">
                            </a> 
                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="" href="{% url 'allsubTopic' %}"><button type="button"
                            class=" btn btn-lg-4 btn-warning btn-outline-success" >All subtopics</button></a>
                            <i class="bi bi-list mobile-nav-toggle"></i>
                            <br><br>             
                        </center>
                    </div>
                    </div>    
                </form>
            </div>
        </div>
    </div>
<br><br>

{% endblock %}