{% extends 'adminApp/body.html' %}
{% load static %}
{% block body %}
<br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 bg-light shadow mx-auto" > 
                <div class="col-md-8 mx-auto my-4">              
                    <h4 align="center" >Add Subtopic</h4>
                </div>
                <div class="container">
                    <form action="{% url 'addsubtopics' %}" method="post" role="post" class="" data-aos="fade-up">
                        {% csrf_token %}
                        <div class="col-lg-12 form-group mx-auto mt-5  text-white">
                            <select class="form-select mb-3" name="subtopics" id="" required>
                                <option disabled selected>Select topics</option>
                                {% for i in data %}
                                <option value="{{i.id}}">{{i.topic_name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <div class="col-md-12 form-group mx-auto text-white">
                            
                            <label for="" class="text-dark mb-3">Sub Topics :</label>
                            <input type="text" name="subtopic_name" class="form-control mb-3" id="subtopic" placeholder="Enter sub-topic" value="" required >
                            </div>
                            <div class="col-md-12 form-group mx-auto  text-white ">
                                <label for="" class="text-dark mb-3">Iframe:</label>
                                <textarea  name="iframe" class="form-control" id="iframe" rows="15" placeholder="Enter code" value="" required > </textarea>
                            
                            </div>
                            <div class="mt-3 py-3 d-flex justify-content-center" >
                                <a  href=""><input type="submit" value="Add" 
                                class=" btn btn-warning btn-outline-dark py-2 px-4">
                                </a>        
                    </form>
                </div>
                
            </div>
        </div>
    </div>
<br><br>

{% endblock %}