{% extends 'adminApp/body.html' %}
{% load static %}

{% block body %}
<div class="container-fluid py-4">
  <div class="col-md-8 p-3 mx-auto bg-light  shadow" >
    <div class="col-md-8 mx-auto my-4">
      <h3 align="center">Add Topic</h3>
    </div>
    <form action="{% url 'addtopics'  %}" method="post" role="form" class="" data-aos="fade-up" >
        {% csrf_token %}
        <div class="col-md-8 form-group mx-auto mt-5 text-white">
          <label for="" class="text-dark mb-3">Topic Name:</label>
          <input type="text" name="topic_name" class="form-control" id="name" placeholder="Enter topic"  required >
        </div>
        <br><br>
        <div class="col-md-2 form-group mx-auto ">
            <a class="" href=""><input type="submit" value="Add" 
              class=" btn btn-warning form-control">
            </a>
            <i class="bi bi-list mobile-nav-toggle"></i>
            <br><br>
        </div>
    </form>
  <br><br>
</div>
  <!-- <div class="row section-bg">
      <div class="col-md-8 mx-auto" >
        <div class="col-md-8 mx-auto my-4">
          <h1 align="center">Add Topics</h1>
        </div>
        <form action="{% url 'addtopics' %}" method="post" role="form" data-aos="fade-up"  >
            {% csrf_token %}
            <div class="col-md-8 form-group mx-auto mt-5 text-white">
              Topic Name:<input type="text" name="topic_name" class="form-control" id="name" placeholder="Enter topic" value="{{data.topic_name}}" required >
            </div>
            
            <center>
            <div class="btn-group mt-4">
                <a class="" href=""><input type="submit" value="Add" 
                  class=" btn btn-warning btn-outline-dark form-control">
                </a>
                <i class="bi bi-list mobile-nav-toggle"></i>
                  <i class="bi bi-list mobile-nav-toggle"></i>
            </div>
          </center>
        </form>
      <br><br>
    </div>
  </div> -->
</div>
<br><br>
{% endblock %}
