{% extends 'adminApp/body.html' %}

{% block body %}
<br>
<h1 align="center" >Sub Topics</h1>
<div class="container-fluid section-bg"></div>
    <div class="row">
        <div class="col-md-12 mx-2 text-white">
            <a class="" href="{% url 'subtopics' %}"><button type="button"
            class=" btn btn-warning d-block m-auto mb-4" >Add Sub Topic</button>
            </a>
            
        </div>   
    </div>
</div>
    <div class="container-fluid"></div>
           <div class="row " >
            <div class="col col-md-8 mx-auto p-10px text-center">
                
                <table class="table  table-bordered table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Topic</th>
                        <th>Subtopics</th>
                        <th>Iframe</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                        {% for i in subtopic %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.topic_id.topic_name}}</td>
                        <td>{{i.subtopic_name}}</td>
                        <td >
                            <div style="max-height: 70px; overflow-y: scroll; ">{{i.iframe}}</div>
                        </td>
                        <td>
                            <a href="{% url 'edit-subtopic' i.id %}"><button class="btn btn-dark">Edit
                            </button></a>
                        </td>
                        <td>
                            <a href="{% url 'delete-subtopic' i.id %}"><button class="btn btn-dark">Delete
                            </button></a>
                        </td>
                    </tr>
                        {% endfor %}
                </table>
            </div>
            
        </div>
    </div>
<br>
{% endblock %}
