{% extends 'adminApp/body.html' %}

{% block body %}
<br>
<div class="container-fluid"></div>
    <div class="row">
        <div class="col-md-2 mx-2 text-white">
            <a class="" href="{% url 'addtopics' %}"><button type="button"
            class=" btn btn-lg-4 btn-warning btn-outline-success" >Back</button>
            <i class="bi bi-list mobile-nav-toggle"></i>
            <br><br>
        </div>   
    </div>
</div>

    <div class="container-fluid"></div>
        <div class="row " >
            <div class="col col-md-8 mx-auto p-10px bg-dark text-center">

                <table class="table table-dark table-bordered table-hover table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Topic Names</th>
                        <th>Edit</th>
                        <th>Delete</th>


                    </tr>
                        {% for i in topic %}
                        <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.topic_name}}</td>
                        <td>
                            <a href="{% url 'edit-topic' i.id %}">
                                <button style="background-color:rgb(170, 230, 195)">Edit
                            </button></a>
                        </td>
                        <td>
                            <a href="{% url 'delete-topic' i.id %}"><button style="background-color:rgb(170, 230, 195)">Delete
                            </button></a>
                        </td>
                    </tr>
                        {% endfor %}
                </table>
            </div>
            
        </div>
    </div>
<br>
{% endblock %}
