{% extends 'userApp/body.html' %}
{% load static %}
{% block body %}

    
    <h3 align="center" style="color: Black;"></h3>
    <center>
 <div class="container-fluid">
         <div class="row">
        <!-- <first div start> -->

        <div class="col col-sm-2 mx-auto" style="background-color:#253f57" >

            <h3></h3>
        </div>

        <div class="col" style="background-color:#c7d5e1">
            <h3>Content </h3>
        </div>
    </div>
</div>
<!-- second div end-->
<br>
<!--subtopics add -->
<div class="row">
    <div class="col col-sm-2 " style="background-color: #213b52; height:inherit;">
        <br>
            {% for j in data %}
            <a href="#about" class="btn-get-started scrollto" value="{{j.id}}">{{j.subtopic_name}}</a><br><br>
            {% endfor %}

    </div>

<!--subtopics add end-->

<!--contents add -->

    <div class="col " style="background-color: #b8c7d3; height:inherit;">
        <br>
            {% for i in data %}
            <a href="#" class="btn-get-started scrollto" value="{{i.id}}">
                {{i.data}}</a><br><br>
            {% endfor %}

    </div>
</div>
<!--subtopics add end-->
    <br><br>


</center>
<br><br><br>
{% endblock %}